<div class="container" style="max-width: 700px; margin: auto; padding: 20px;">
    <h1 class="text-center mb-4">Passwort Zurücksetzen</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row g-3">

            <div class="mb-3">
                <label for="currentPassword" class="form-label">E-Mail</label>
                <input class="form-control" placeholder="Email" formControlName="email">
                <div class="error-feedback" *ngIf="hasDisplayError('email')">
                    <div *ngIf="form.controls['email'].hasError('required')">
                        E-Mail-Adresse ist erforderlich.
                    </div>
                    <div *ngIf="form.controls['email'].hasError('email')">
                        Bitte geben Sie eine gültige E-Mail-Adresse ein.
                    </div>
                </div>
            </div>

            <div class="col-12 mb-3">
                <label for="newPassword" class="form-label">Neues Passwort</label>
                <div class="input-group">
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="newPassword"
                        placeholder="Neues Passwort" formControlName="newPassword">
                </div>
                <div class="error-feedback" *ngIf="hasDisplayError('newPassword')">
                    <ng-container [ngSwitch]="form.controls['newPassword'].errors | firstKey">
                        <div *ngSwitchCase="'required'">Passwort ist erforderlich.</div>
                        <div *ngSwitchCase="'minlength'">Bitte geben Sie mindestens 8 Zeichen ein.</div>
                        <div *ngSwitchCase="'pattern'">Mindestens ein Groß- und Kleinbuchstabe, eine Ziffer und ein Sonderzeichen.</div>
                    </ng-container>
                </div>
            </div>

            <div class="col-12 mb-3">
                <label for="confirmPassword" class="form-label">Passwort Bestätigen</label>
                <div class="input-group">
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="confirmPassword"
                        placeholder="Passwort Bestätigen" formControlName="confirmPassword">
                </div>
                <div class="error-feedback"
                    *ngIf="hasDisplayError('confirmPassword') && form.controls['confirmPassword'].hasError('passwordMismatch')">
                    Die angegebenen Passwörter stimmen nicht überein.
                </div>
            </div>

            <div class="col-12 form-check mb-3">
                <input type="checkbox" class="form-check-input" id="showPasswordToggle"
                    (change)="togglePasswordVisibility()">
                <label class="form-check-label" for="showPasswordToggle">Passwort anzeigen</label>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary w-100 rounded-3">Speichern</button>
            </div>
        </div>
    </form>
</div>