<div class="container mb-3 ">
  <section>
    <div class="participants">
      <ng-container
        *ngFor="let participant of participants(); trackBy: trackBySessionId"
      >
        <app-participant  [participant]="participant"></app-participant>
      </ng-container>
    </div>
    <div class="call-controls d-flex justify-content-center">
      <button class="btn w-25 btn-primary" (click)="toggleMicrophone()">Mic</button>
      <button class="btn w-25 btn-primary"  (click)="toggleCamera()">Camera</button>
      <button class="btn w-25 btn-danger"  (click)="leaveCall()">Leave</button>
    </div>
  </section>
</div>




  