<div class="container mb-3">
    <div class=" text-center">
        <h2 class="display-6 fw-bolder text-dark"> </h2>
    </div>

    <div *ngIf="claimReq?.adminOrEmployee" [appHideIfClaimsNotMet]="claimReq.adminOrEmployee">

        <div *ngIf="userIsRegistered" class="card" style="max-width: 700px; margin: auto; padding: 20px;">
            <h1 class="card-header text-center mb-4">Status Update</h1>

            <form  class="card-body" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row g-3">

                    <div class="col-md-6">
                        <label for="isAvailable" class="form-label">Status wählen:</label>
                        <select id="isAvailable" class="form-select" formControlName="isAvailable">
                            <option [value]="true">Verfügbar</option>
                            <option [value]="false">Besetzt</option>
                        </select>
                        <div class="error-feedback" *ngIf="form.controls['isAvailable'].hasError('required')">
                            Auswahl von Status ist erforderlich.
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="callId" class="form-label">Call-ID:</label>
                        <input id="callId" class="form-control" type="text" placeholder="Neue Call-ID eingeben"
                            formControlName="callId">
                        <div class="error-feedback"
                            *ngIf="hasDisplayError('callId') && form.controls['callId'].hasError('required')">
                            Call-ID ist erforderlich.
                        </div>
                        <div class="error-feedback" *ngIf="form.controls['callId'].hasError('minlength')">
                            Call-ID ist ungültig.
                        </div>
                    </div>

                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Speichern</button>
                </div>
            </form>
        </div>

        <!-- <div class="mt-5">
            <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
        </div> -->
    </div>
</div>